# Dependencies
node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Next.js
.next
out
dist

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage
.nyc_output

# Misc
.DS_Store
*.pem
.vscode
.idea

# Debug
*.log

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Git
.git
.gitignore

# Prisma
prisma/migrations
